@model ProjeTakipSistemi.Models.GorevAtama.PersonelProjeleri

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PersonelProjeleri</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjeBaslik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjeBaslik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjeAciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjeAciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OlusturmaTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OlusturmaTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OncelikDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OncelikDurumu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TamamlanmaOrani)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TamamlanmaOrani)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TamamlanmaTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TamamlanmaTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TamamlanmaDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TamamlanmaDurumu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PersonelProjeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
