@model ProjeTakipSistemi.Models.Personel.PersonelBilgileri

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <h5 class="card-header">Profile Details</h5>
            <hr class="my-0" />
            <div class="card-body">
                <form id="formAccountSettings" method="POST" onsubmit="return false">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="Eposta" class="form-label">E-posta</label>
                            <input class="form-control" type="text" id="Eposta" name="Eposta" value="@Model.Eposta" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="Sifre" class="form-label">Şifre</label>
                            <input class="form-control" type="text" id="Sifre" name="Sifre" value="@Model.Sifre" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="Yetki" class="form-label">Yetki</label>
                            <input class="form-control" type="text" id="Yetki" name="Yetki" value="@Model.Yetki" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="AdSoyad" class="form-label">Ad Soyad</label>
                            <input class="form-control" type="text" id="AdSoyad" name="AdSoyad" value="@Model.AdSoyad" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="TCNO" class="form-label">TC Kimlik No</label>
                            <input class="form-control" type="text" id="TCNO" name="TCNO" value="@Model.TCNO" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="Departman" class="form-label">Departman</label>
                            <input class="form-control" type="text" id="Departman" name="Departman" value="@Model.Departman" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="Gorev" class="form-label">Görev</label>
                            <input class="form-control" type="text" id="Gorev" name="Gorev" value="@Model.Gorev" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="Aciklama" class="form-label">Açıklama</label>
                            <input class="form-control" type="text" id="Aciklama" name="Aciklama" value="@Model.Aciklama" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="PozisyonAciklama" class="form-label">Pozisyon Açıklama</label>
                            <input class="form-control" type="text" id="PozisyonAciklama" name="PozisyonAciklama" value="@Model.PozisyonAciklama" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="TelNo" class="form-label">Telefon Numarası</label>
                            <input class="form-control" type="text" id="TelNo" name="TelNo" value="@Model.TelNo" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="Adres" class="form-label">Adres</label>
                            <input class="form-control" type="text" id="Adres" name="Adres" value="@Model.Adres" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="MedeniHal" class="form-label">Medeni Hal</label>
                            <input class="form-control" type="text" id="MedeniHal" name="MedeniHal" value="@Model.MedeniHal" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="YakinlikBilgisi" class="form-label">Yakınlık Bilgisi</label>
                            <input class="form-control" type="text" id="YakinlikBilgisi" name="YakinlikBilgisi" value="@Model.YakinlikBilgisi" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="YakinTC" class="form-label">Yakın TC</label>
                            <input class="form-control" type="text" id="YakinTC" name="YakinTC" value="@Model.YakinTC" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="YakinTel" class="form-label">Yakın Telefon</label>
                            <input class="form-control" type="text" id="YakinTel" name="YakinTel" value="@Model.YakinTel" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="DogumTarihi" class="form-label">Doğum Tarihi</label>
                            <input class="form-control" type="text" id="DogumTarihi" name="DogumTarihi" value="@Model.DogumTarihi" readonly />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="IseGirisTarihi" class="form-label">İşe Giriş Tarihi</label>
                            <input class="form-control" type="text" id="IseGirisTarihi" name="IseGirisTarihi" value="@Model.IseGirisTarihi" readonly />
                        </div>
                    </div>
                    <div class="mt-2">
@*                         <a asp-action="Edit" asp-route-id="@Model?.PersonelBilgileriId" class="btn btn-primary">Edit</a>
 *@                        <a asp-action="Index" class="btn btn-outline-secondary">Listeye Dön</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
