@model ProjeTakipSistemi.Models.Personel.PersonelBilgileri

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Edit", "PersonelBilgileris", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PersonelBilgileriId)

        <div class="card mb-4">
            <h5 class="card-header">Personel Ekle</h5>
            <hr class="my-0">
            <div class="card-body">
                <div class="row">
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.AdSoyad, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.AdSoyad, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @* 
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.PersonelGörseli, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PersonelGörseli, new { htmlAttributes = new { @class = "form-control" } })
                    </div> *@

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Eposta, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Eposta, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Departman, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Departman, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Gorev, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Gorev, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.TCNO, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.TCNO, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Yetki, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Yetki, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.TelNo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.TelNo, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Adres, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.DogumTarihi, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.DogumTarihi, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.IseGirisTarihi, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.IseGirisTarihi, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.MedeniHal, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.MedeniHal, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Sifre, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.PozisyonAciklama, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.PozisyonAciklama, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.YakinlikBilgisi, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.YakinlikBilgisi, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @* 
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.YakinAdSoyad, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.YakinAdSoyad, new { htmlAttributes = new { @class = "form-control" } })
                    </div> *@

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.YakinTC, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.YakinTC, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.YakinTel, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.YakinTel, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="mt-2">
                    <button type="submit" class="btn btn-primary me-2">Personel Düzenle</button>
                    <a href="/PersonelBilgileris/Index/" class="btn btn-outline-secondary">Anasayfaya Dön</a>
                </div>
            </div>
        </div>
    </div>
}
