@model IEnumerable<ProjeTakipSistemi.Models.Personel.PersonelBilgileri>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/rg-1.0.0/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/rg-1.0.0/datatables.min.js"></script>

<div class="card">
    <h5 class="card-header">Personel Listesi</h5>
    <div class="card-body">

        <table id="personellistele" class="table">
            <thead>
                <tr>
                    <th>E-POSTA ADRESİ</th>
                    <th>@Html.DisplayNameFor(model => model.AdSoyad)</th>
                    <th>@Html.DisplayNameFor(model => model.TCNO)</th>
                    <th>@Html.DisplayNameFor(model => model.Gorev)</th>
                    <th>@Html.DisplayNameFor(model => model.Departman)</th>
                    <th data-priority="1">AKSİYON</th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a href="mailto:@item.Eposta">@item.Eposta</a></td>
                        <td>@Html.DisplayFor(modelItem => item.AdSoyad)</td>
                        <td>@Html.DisplayFor(modelItem => item.TCNO)</td>
                        <td>@Html.DisplayFor(modelItem => item.Gorev)</td>
                        <td>@Html.DisplayFor(modelItem => item.Departman)</td>
                        <td>
                            <a href="/PersonelBilgileris/Edit/@item.PersonelBilgileriId" class="btn btn-secondary">
                                <span class="tf-icons bx bx-edit"></span>
                            </a>
                            <a href="/PersonelBilgileris/Details/@item.PersonelBilgileriId" class="btn btn-secondary">
                                <span class="tf-icons bx bx-detail"></span>
                            </a>
                            <a href="/PersonelBilgileris/Delete/@item.PersonelBilgileriId" class="btn btn-secondary">
                                <span class="tf-icons bx bx-trash"></span>
                            </a>
                    </tr>
                }
            </tbody>
        </table>
          <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item">
                <a class="nav-link active" href="/PersonelBilgileris/Create">
                    <i class="bx bx-user me-1"></i> Yeni personel ekle
                </a>
            </li>
        </ul> 
    </div>
</div>

<script>
       $('#personellistele').DataTable({
        language: {
            info: "_TOTAL_ kayıttan _START_ - _END_ kayıt gösteriliyor.",
            infoEmpty: "Gösterilecek hiç kayıt yok.",
            loadingRecords: "Kayıtlar yükleniyor.",
            zeroRecords: "Tablo boş",
            search: "Arama:",
            infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
            buttons: {
                copyTitle: "Panoya kopyalandı.",
                copySuccess: "Panoya %d satır kopyalandı",
                copy: "Kopyala",
                print: "Yazdır",
            },
            paginate: {
                first: "İlk",
                previous: "Önceki",
                next: "Sonraki",
                last: "Son"
            },
        },
        dom: 'Bfrtip',
        buttons: ['copy', 'excel', 'pdf', 'print'],
        responsive: true, // Tabloyu responsive hale getirir
        columnDefs: [
            { responsivePriority: 1, targets: -1 }, // Aksiyon sütunu sabit
            { responsivePriority: 2, targets: 0 }, // İlk sütun sabit
            { responsivePriority: 3, targets: [4] }, // Görev sütunu detaylarda görünür
        ]
    });

</script>
